@charset "UTF-8";
:root {
  --title-text-color: rgba(33, 33, 33, 1);
  --pargraf-text-color: rgba(117, 117, 117, 1);
  --dark-background: rgba(47, 48, 58, 1);
  --white: rgba(255, 255, 255, 1);
  --blue: rgba(33, 150, 243, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:hover,
:focus,
:focus-within {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

:focus {
  outline: none;
}

body {
  background-color: var(--white);
  font-family: roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  color: currentColor;
}

/* убираем маркеры в списках */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  button {
    padding: 10px 32px;
  }
}

/* цвет кнопки гпавной при ховере 188CE8 */
button:hover {
  color: var(--white);
  background-color: var(--blue);
}

button:focus {
  color: var(--white);
  background-color: var(--blue);
  outline: 3px solid black;
}

img {
  display: block;
  /*прибирає відступ знизу під фото*/
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 94px 15px;
  }
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
}
@media screen and (max-width: 767px) {
  .header__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.header__button {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.header__button:hover, .header__button:focus {
  background-color: transparent;
}
.header__button svg {
  width: 40px;
  height: 40px;
}
.header__icon-cross {
  display: none;
}
.header__button.is-open .header__icon-cross {
  display: block;
}
.header__button.is-open .header__icon-menu {
  display: none;
}
.header__button.is-open .logo {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    background-color: white;
    display: none;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vmax;
    padding: 48px 0 48px 40px;
  }
  .menu-container.is-open {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .menu-container__box {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo--focus:focus {
  outline: 3px solid black;
}
.logo__link {
  color: var(--blue);
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo__header {
  color: rgb(0, 0, 0);
}
.logo__footer {
  color: var(--white);
}

@media screen and (max-width: 767px) {
  .navigation {
    margin-top: -32px;
  }
}

.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .navigation__link {
    margin-top: 32px;
  }
}
.navigation__link:hover {
  color: var(--blue);
  fill: var(--blue);
}
.navigation__link:focus {
  color: var(--blue);
  fill: var(--blue);
  outline: 3px solid black;
}
.navigation__link.current {
  color: var(--blue);
}

.header-contact__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--blue);
}
@media screen and (max-width: 767px) {
  .header-contact__phone {
    margin-top: 0px;
  }
}
.header-contact__phone:focus-within {
  color: var(--blue);
  fill: var(--blue);
  outline: 3px solid black;
}
.header-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--pargraf-text-color);
}
@media screen and (max-width: 767px) {
  .header-contact__mail {
    margin-top: 32px;
  }
}
.header-contact__mail:focus-within {
  color: var(--blue);
  fill: var(--blue);
  outline: 3px solid black;
}
@media screen and (max-width: 767px) {
  .header-contact__icon-envelope, .header-contact__icon-smartphone {
    display: none;
  }
}

.header__social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
  gap: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--blue);
}

.header__social-net:focus-within {
  outline: solid 3px black;
}

/*--------------------------------TABLET---------------------------------------*/
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
  .header__social-box {
    display: none;
  }
  .header__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 21px 15px;
  }
  .menu-container__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-left: 87px;
  }
  .navigation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 96px;
    gap: 50px;
  }
  .navigation__link {
    font-size: 14px;
    line-height: 1.14;
  }
  .current::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 75px;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
  }
  .header-contact {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .header-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) {
  .header-contact__phone, .header-contact__mail {
    font-size: 12px;
    line-height: 1.17;
    color: var(--pargraf-text-color);
  }
}
@media screen and (min-width: 768px) {
  .header-contact__phone {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header-contact__icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-contact__icon-box:hover {
    color: var(--blue);
    fill: var(--blue);
  }
  .header-contact__icon-box:focus {
    color: var(--blue);
  }
}
@media screen and (min-width: 768px) {
  .header-contact__icon-envelope {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) {
  .header-contact__icon-smartphone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}
/*-------------------------------------------DESKTOP-----------------------------------------*/
@media screen and (min-width: 1200px) {
  .header__wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 92px;
  }
  .menu-container__box {
    margin-left: 0px;
  }
  logo__link {
    font-size: 26px;
    line-height: 1.19;
  }
  .navigation {
    margin-right: 315px;
    margin-left: 0;
  }
  .header-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-contact__phone, .header-contact__mail {
    font-size: 14px;
    line-height: 1.14;
  }
  .header-contact__mail {
    margin-right: 30px;
  }
  .header-contact__phone {
    margin-top: 0;
  }
  .header-contact__icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .header-contact__icon-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
  .current::after {
    width: 78px;
  }
}
.hero {
  max-width: 478px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/1/header-bg-1.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1/header-bg-1.png);
  background-color: var(--dark-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.hero__wrapper {
  padding: 118px 60px;
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.hero__button {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  /*margin-top: 30px;
  padding: 10px 26px;*/
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  background-color: rgb(24, 140, 232);
}
.hero__button:focus {
  background-color: rgb(24, 140, 232);
  outline: 3px solid black;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/1/header-bg-2.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1/header-bg-2.png);
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/1/header-bg-3.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1/header-bg-3.png);
  }
}
/*-----------------------------TABLET------------------------------------------------*/
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/1/header-bg-tablet-1.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1/header-bg-tablet-1.png);
    background-color: var(--dark-background);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/1/header-bg-tablet-2.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1/header-bg-tablet-2.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/1/header-bg-tablet-3.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1/header-bg-tablet-3.png);
  }
}
/*-----------------------------DESKTOP------------------------------------------------*/
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    max-height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/1/header-bg-desktop-1.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1/header-bg-desktop-1.png);
    background-color: var(--dark-background);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/1/header-bg-desktop-2.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1/header-bg-desktop-2.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/1/header-bg-desktop-3.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1/header-bg-desktop-3.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.backdrop {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.8) translate(-50%, -50%);
          transform: scale(0.8) translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  max-width: 450px;
  height: 609px;
  padding: 40px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
.modal__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.modal__button-x {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: var(--white);
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__button-x:hover, .modal__button-x:focus {
  background-color: var(--white);
  fill: var(--blue);
}

.modal__button-x svg {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  fill: 0;
  width: 18px;
  height: 18px;
  z-index: 5;
}
.modal__button-x svg:hover, .modal__button-x svg:focus {
  fill: var(--blue);
}

.form {
  display: inline-block;
  width: 100%;
}

.form-set {
  display: block;
  margin-top: 2px;
}

.form-set__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17px;
  letter-spacing: 0.01em;
  color: var(--pargraf-text-color);
}

.form-set__textarea {
  resize: none;
  padding: 11px 16px;
}
.form-set__textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-set__textarea::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-set__textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-set__textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-set__textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-set__input,
.form-set__textarea {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-set__input {
  height: 40px;
  padding-left: 42px;
}

.form-set__input:focus,
.form-set__textarea:focus {
  border: 1px solid var(--blue);
}

.form-set__input:focus + .form-set__icon {
  fill: var(--blue);
}

.form-set__icon {
  width: 18px;
  position: absolute;
  z-index: 2;
  left: 12px;
  top: -65%;
  fill: var(--title-text-color);
}

.license {
  position: relative;
  margin-top: 20px;
}
.license__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.license__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.license__text {
  margin-left: 24px;
}
.license__icon {
  position: absolute;
  left: 1px;
  top: 0px;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 10%;
}
.license__checkbox:checked ~ .license__icon {
  background-image: url(../images/icons.svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.license__link {
  text-decoration: underline;
  color: var(--blue);
}

.form__button-box {
  text-align: center;
}

.form__button {
  margin-top: 30px;
  padding: 10px 52px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/*-------------------------------------------TABLET-----------------------------------------*/
@media screen and (min-width: 768px) {
  .license__icon {
    left: 1px;
    top: -2px;
  }
}
/*-------------------------------------------DESKTOP-----------------------------------------*/
@media screen and (min-width: 1200px) {
  .backdrop {
    z-index: 2;
  }
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal__title {
    line-height: 1.15;
  }
  .license__box {
    font-size: 14px;
    line-height: 1.71;
  }
  .license__icon {
    left: 5px;
    top: 3px;
  }
  .license__text {
    margin-left: 36px;
  }
}
.advantage__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
}
.advantage__text {
  color: var(--pargraf-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
}

.advantage__item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: rgb(245, 244, 250);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
.advantage__item:nth-child(1)::before {
  background-image: url(../images/icons.svg/antenna.svg);
}
.advantage__item:nth-child(2)::before {
  background-image: url(../images/icons.svg/clock.svg);
}
.advantage__item:nth-child(3)::before {
  background-image: url(../images/icons.svg/diagram.svg);
}
@media screen and (max-width: 767px) {
  .advantage__item:nth-child(3)::before {
    margin-top: 30px;
  }
}
.advantage__item:nth-child(4)::before {
  background-image: url(../images/icons.svg/astronaut.svg);
}
@media screen and (max-width: 767px) {
  .advantage__item:nth-child(4)::before {
    margin-top: 30px;
  }
}

/*-------------------------------------------TABLET-----------------------------------------*/
@media screen and (min-width: 768px) {
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }
  .advantage__item {
    width: calc((100% - 30px) / 2);
  }
}
/*-------------------------------------------DESKTOP-----------------------------------------*/
@media screen and (min-width: 1200px) {
  .advantage__wrapper {
    padding-bottom: 47px;
  }
  .advantage__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media screen and (max-width: 1199px) {
  .directions {
    display: none;
  }
}

/*-------------------------------------------DESKTOP-----------------------------------------*/
@media screen and (min-width: 1200px) {
  .directions__wrapper {
    padding-top: 47px;
  }
  .directions__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin: 0;
  }
  .directions__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .directions__item {
    position: relative;
    gap: 30px;
  }
  .directions__text-box {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .directions__text {
    font-style: 700;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    margin-top: 0;
    margin-bottom: 0;
  }
}
.team {
  outline: 2px solid none;
  background-color: rgb(245, 244, 250);
}
.team__wrapper {
  outline: solid none;
}
.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
}
.team__card {
  outline: solid none;
  text-align: center;
  background-color: var(--white);
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  padding-bottom: 24px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: var(--title-text-color);
  margin-top: 30px;
}
.team__specialty {
  color: var(--pargraf-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
.team__social-box {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
.team__social-nets {
  padding: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  color: rgb(175, 177, 184);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-nets:hover, .team__social-nets:focus-within {
  color: rgb(255, 255, 255);
  background-color: var(--blue);
}
.team__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*--------------------------------------------TABLET--------------------------------------*/
@media screen and (min-width: 768px) {
  .team__card {
    width: 354px;
    margin-top: 0;
  }
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
  }
}
/*--------------------------------------------DESKTOP--------------------------------------*/
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
  }
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 50px;
  }
  .team__card {
    width: 270px;
  }
}
.clients__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
.clients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__name {
  width: 210px;
  height: 92px;
}
.clients__icon {
  width: 106px;
  height: 60px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 52px;
  width: 100%;
  border: solid 1px rgb(175, 177, 184);
  border-radius: 4px;
  fill: rgb(175, 177, 184);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: var(--blue);
  fill: var(--blue);
}

/*-------------------------------------------------TABLET--------------------------------------------*/
@media screen and (min-width: 768px) {
  .clients__link {
    padding: 16px 60px;
  }
  .clients__name {
    width: 226px;
    height: 92px;
  }
}
/*-------------------------------------------------DESKTOP--------------------------------------------*/
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .clients__box {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .clients__link {
    padding: 16px 32px;
  }
}
.footer {
  background-color: var(--dark-background);
  color: var(--white);
  outline: 2px solid none;
  text-align: center;
}

/*---------------------------------------TABLET----------------------------------------*/
@media screen and (min-width: 768px) {
  .footer__envelop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__wrapper {
    margin-left: 61px;
  }
}
/*---------------------------------------DESKTOP----------------------------------------*/
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__wrapper {
    margin-left: 0;
    text-align: start;
  }
}
.address {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__link {
  color: var(--white);
}
.address__mail, .address__phone {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
}
.address--focus:focus {
  outline: 3px solid black;
}

/*---------------------------------------TABLET----------------------------------------*/
/*---------------------------------------DESKTOP----------------------------------------*/
.connect {
  margin-top: 60px;
}
.connect__title {
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /*margin: 0;*/
}
.connect__icon-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.connect__icon {
  width: 20px;
  height: 20px;
}

.connect__icon-box {
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__icon-box:hover, .connect__icon-box:focus-within {
  background-color: var(--blue);
}

/*---------------------------------------TABLET----------------------------------------*/
@media screen and (min-width: 768px) {
  .connect {
    margin-top: 0;
    margin-left: 165px;
  }
}
/*---------------------------------------DESKTOP----------------------------------------*/
@media screen and (min-width: 1200px) {
  .connect {
    margin-left: 70px;
  }
}
.mailing {
  margin-top: 60px;
}
.mailing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.mailing__input {
  padding-left: 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  background-color: var(--dark-background);
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.mailing__input:focus {
  border: 3px solid black;
}
.mailing__button {
  position: relative;
  padding-left: 28px;
  text-align: left;
  background-color: var(--blue);
  color: var(--white);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.mailing__icon {
  position: absolute;
  right: 28px;
  top: 13px;
  margin-left: 12px;
  width: 24px;
  height: 24px;
}

/*---------------------------------------TABLET----------------------------------------*/
@media screen and (min-width: 768px) {
  .mailing {
    display: block;
  }
  .mailing__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .mailing__button {
    margin-left: 12px;
  }
}
/*---------------------------------------DESKTOP----------------------------------------*/
@media screen and (min-width: 1200px) {
  .mailing {
    margin-left: 93px;
    margin-top: 0px;
  }
  .mailing__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mailing__input {
    margin-bottom: 0;
    width: 358px;
  }
  .mailing__title {
    text-align: start;
  }
}
.portfolio-buttons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  /*width: 575px;*/
}
.portfolio-buttons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .portfolio-buttons__list {
    max-width: 334px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.portfolio-buttons__item {
  /* flex-basis: content;
   width: 38px;*/
  margin-right: 8px;
  margin-top: 15px;
}
.portfolio-buttons__item:hover, .portfolio-buttons__item:focus {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.portfolio-buttons__item button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: rgb(245, 244, 250);
}
.portfolio-buttons__item button:hover, .portfolio-buttons__item button:focus {
  background-color: var(--blue);
}

/*-------------------------------------------TABLET-----------------------------------------*/
@media screen and (min-width: 768px) {
  .portfolio-buttons {
    margin-bottom: 30px;
  }
  .portfolio-buttons__item {
    margin-top: 0;
  }
  .portfolio-buttons__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*-------------------------------------------DESKTOP-----------------------------------------*/
@media screen and (min-width: 1200px) {
  .portfolio-buttons {
    margin-bottom: 34px;
  }
}
.portfolio-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  /*margin-top: 34px;
  margin-bottom: 94px;

  align-items: center;
  margin-bottom: 0;*/
}
.portfolio-cards .portfolio-cards__item:hover, .portfolio-cards .portfolio-cards__item:focus-within {
  -webkit-box-shadow: 6px 1px 4px rgba(0, 0, 0, 0.16), 4px 0px 4px rgba(0, 0, 0, 0.06), 1px 0px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 6px 1px 4px rgba(0, 0, 0, 0.16), 4px 0px 4px rgba(0, 0, 0, 0.06), 1px 0px 1px rgba(0, 0, 0, 0.12);
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*ховаємо модальне вікно, яке без ховеру знаходиться під фото*/
  overflow: hidden;
}
.card__modal-box {
  position: absolute;
  top: 0;
  right: 0;
  padding: 77px 24px;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.portfolio-cards__item:hover .card__modal-box, .portfolio-cards__item:focus-within .card__modal-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card__modal-text {
  font-size: 18px;
  Line-height: 1.56;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--white);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card__content {
  padding: 20px 24px;
  border-right: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
}
.card__name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /*margin-top: 0;
  margin-bottom: 0;*/
}
.card__description {
  color: var(--pargraf-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
  /*margin-bottom: 0;*/
}

/*-------------------------------------------TABLET-----------------------------------------*/
@media screen and (min-width: 768px) {
  .portfolio-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio-cards__item {
    width: 354px;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-cards__item:first-child .card__content {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 768px) {
  .card__modal-box {
    padding: 49px 24px;
  }
}
/*-------------------------------------------DESKTOP-----------------------------------------*/
@media screen and (min-width: 1200px) {
  .portfolio-cards {
    outline: solid none;
  }
  .portfolio-cards__item {
    width: 370px;
    outline: solid none;
  }
  .card__modal-box {
    padding: 63px 24px;
  }
}/*# sourceMappingURL=main.css.map */