.advantage {


    &__title {
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 0;
    }

    &__text {
        color: var(--pargraf-text-color);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin-top: 10px;
        margin-bottom: 0;
    }
}



.advantage__item {


    &::before {
        display: block;
        content: "";
        height: 120px;
        background-color: rgba(245, 244, 250, 1);
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 4px;
    }


    &:nth-child(1)::before {
        background-image: url(/images/icons.svg/antenna.svg);

    }

    &:nth-child(2)::before {
        background-image: url(/images/icons.svg/clock.svg);

    }

    &:nth-child(3)::before {
        background-image: url(/images/icons.svg/diagram.svg);

        @media screen and (max-width: 767px) {
                margin-top: 30px;
            }
    }

    &:nth-child(4)::before {
        background-image: url(/images/icons.svg/astronaut.svg);

        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }
}


/*-------------------------------------------TABLET-----------------------------------------*/



    .advantage {

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            width: 100%;
        }

        &__item {
            width: calc((100% - 30px) / 2);

        }
    }







/*-------------------------------------------DESKTOP-----------------------------------------*/

/*&__list {
        display: flex;
        justify-content: space-between;
        margin-right: -30px;
    }
    */