.footer {
    background-color: var(--dark-background);
    color: var(--white);
    outline: 2px solid none;
    text-align: center;

    /*&__container {
        display: flex;
    }

    &__wrapper {
        margin-top: 60px;
        margin-bottom: 60px;
    }*/
}
    /*---------------------------------------TABLET----------------------------------------*/

    @media screen and (min-width: 768px) {

        .footer {

           
            &__envelop {
                display: flex;
            }

            &__wrapper {
                margin-left: 61px;
            }
        }

    }