

.address {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    &__link {
        color: var(--white);
    }

    &__mail,
    &__phone {
        color: rgba(255, 255, 255, 0.6);
        margin-top: 8px;
    }

    &--focus:focus {
        outline: 3px solid black;
    }
}


/*---------------------------------------TABLET----------------------------------------*/
    
@media screen and (min-width: 768px) {

}

/*---------------------------------------DESKTOP----------------------------------------*/






   