.header {

    border-bottom: 1px solid rgba(236, 236, 236, 1);


    &__wrapper {
        @media screen and (max-width: 767px) {
        position: relative;
        padding: 0px 15px;
        }
    }

    &__button {
        display: flex;
        background-color: transparent;
        margin: 0;
        padding: 0;

        &:hover,
        &:focus {
            background-color: transparent;
        }

        & svg {
            width: 40px;
            height: 40px;
        }
    }

    &__icon-cross {
        display: none;
    }

    &__button.is-open &__icon-cross {
        display: block;
    }

    &__button.is-open &__icon-menu {
        display: none;
    }

    &__button.is-open .logo {
        display: none;
    }

}

.menu-container {
    
    @media screen and (max-width: 767px) {
        background-color: white;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vmax;
        padding: 48px 0 48px 40px;

        &.is-open {
            display: block;

        }
    }

}

.logo-wrapper {
    @media screen and (max-width: 767px) {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
}

.logo {

    &--focus:focus {
        outline: 3px solid black;
    }

    &__link {
        color: var(--blue);
        font-family: raleway, sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.03em;
    }

    &__header {
        color: rgba(0, 0, 0, 1);
    }

    &__footer {
        color: var(--white);
    }


}


.navigation {
    @media screen and (max-width: 767px) {
    margin-top: -32px;
    }
}


.navigation__link {
    display: flex;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    @media screen and (max-width: 767px) {
    margin-top: 32px;
    }

    &:hover {
        color: var(--blue);
        fill: var(--blue);
    }

    &:focus {
        color: var(--blue);
        fill: var(--blue);
        outline: 3px solid black;
    }

    &.current {
        color: var(--blue);
    }
}

.header-contact {

    &__phone {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18px;
        letter-spacing: 0.02em;
        color: var(--blue);

        @media screen and (max-width: 767px) {
        margin-top: 302px;
        }

    }

    &__mail {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17px;
        letter-spacing: 0.02em;
        color: var(--pargraf-text-color);

        @media screen and (max-width: 767px) {
        margin-top: 32px;
        }
    }

    &__icon-envelope,&__icon-smartphone {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}


.header__social-box {
    display: flex;
    margin-top: 64px;
    gap: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--blue);
}


/*--------------------------------TABLET---------------------------------------*/

@media screen and (min-width: 768px) {

    .header__button {
        display: none;
    }

    .header__social-box {
        display: none;
    }

    .header__wrapper {
        position: relative;
        display:flex;
        align-items: center;
        padding: 21px 15px;
    }

    .menu-container {
        display: flex;
    }

    .navigation-wrapper {
        display: flex;
        align-items: center;
    }

    .navigation {
        display: flex;
        margin-left: 87px;
        margin-right: 96px;
        gap: 50px;

        &__link {
            font-size: 14px;
            line-height: 1.14;
        }
    }

    .current::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 78px;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
    }

    .header-contact {
        display: flex;
        flex-direction: column-reverse;
    
        &__phone, &__mail {
            font-size: 12px;
            line-height: 1.17;
            color: var(--pargraf-text-color);
        }

        &__phone {
            margin-top: 10px;
        }

        &__icon-box {
            display: flex;
            align-items: center;

                &:hover {
                    color: var(--blue);
                    fill: var(--blue);
                }

                &:focus {
                    color: var(--blue);
                    outline: 3px solid black;
                }

        }

        &__icon-envelope {
            width: 14px;
            height: 10px;
            margin-right: 8px;
        }

        &__icon-smartphone {
            width: 10px;
            height: 14px;
            margin-right: 8px;
        }
    }


}


/*-------------------------------------------DESKTOP-----------------------------------------*/