.header-contact {
    display: none;
    /*display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: auto;
    align-items: center;*/
}

.header-contact__icon-box {
    /*display: flex;
    align-items: center;
    margin-left: 50px;*/
    color: var(--pargraf-text-color);
    

    &:hover {
        color: var(--blue);
        fill: var(--blue);
    }

    &:focus {
        color: var(--blue);
        outline: 3px solid black;
    }
}

.header-contact__icon-envelope {
    width: 16px;
    height: 12px;
    /*margin-right: 10px;*/
}

.header-contact__icon-smartphone {
    width: 10px;
    height: 16px;
    /*margin-right: 10px;*/
}