.hero {
    max-width: 478px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/1/header-bg-1.png);
    background-color: var(--dark-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    

    &__wrapper {
        padding: 118px 60px;

    }

    &__title {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;    
    }

    &__button {
        background-color: var(--blue);
        color: var(--white);
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        border: none;
        /*margin-top: 30px;
        padding: 10px 26px;*/
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: rgba(24, 140, 232, 1);
        }

        &:focus {
            background-color: rgba(24, 140, 232, 1);
            outline: 3px solid black;
        }
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(/images/1/header-bg-2.png);
    }
}

@media (min-device-pixel-ratio: 3),
(min-resolution: 288dpi),
(min-resolution: 3dppx) {
    .hero {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(/images/1/header-bg-3.png);
    }
}

/*-----------------------------TABLET------------------------------------------------*/

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../images/1/bg-title.png);
        background-color: var(--dark-background);
        

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .hero {
                    background-image: linear-gradient(to right,
                            rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)), url(/images/1/header-bg-tablet-2.png);
                }
            }
        
            @media (min-device-pixel-ratio: 3),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
                .hero {
                    background-image: linear-gradient(to right,
                            rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)), url(/images/1/header-bg-tablet-3.png);
                }
            }
    }
}


/*-----------------------------DESKTOP------------------------------------------------*/

@media screen and (min-width: 1200px) {

    .hero {
        max-width: 1600px;
        max-height: 600px;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(/images/1/header-bg-desktop-1.png);
        background-color: var(--dark-background);

            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .hero {
                        background-image: linear-gradient(to right,
                                rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)), url(/images/1/header-bg-desktop-2.png);
                    }
                }
            
                @media (min-device-pixel-ratio: 3),
                (min-resolution: 288dpi),
                (min-resolution: 3dppx) {
                    .hero {
                        background-image: linear-gradient(to right,
                                rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)), url(/images/1/header-bg-desktop-3.png);
                    }
                }

        &__title {
            font-size: 44px;
            line-height: 1.36;
        }

    }
}