.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.is-hidden .modal {
    transform: scale(0.8) translate(-50%, -50%);
  }
}

.modal {
  position: relative;
  padding: 40px;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);

  display: block;*/

  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
/*
  @media screen and (min-width: 480px) {
      width: 450px;
      height: 609px;
      padding: 40px;
  }
  
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }*/


  &__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
      line-height: 1.15;
    }
  }
}

.modal__button-x {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: var(--white);
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    background-color: var(--white);
    fill: var(--blue);
  }
}

.modal__button-x svg {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  fill: 000000;
  width: 18px;
  height: 18px;
  z-index: 5;

  &:hover,
  &:focus {
    fill: var(--blue);
  }
}

.form {
  display: inline-block;
  width: 100%;
}

.form-set {
  display: block;
  margin-top: 2px;
}

.form-set__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17px;
  letter-spacing: 0.01em;
  color: var(--pargraf-text-color);
}

.form-set__textarea {
  resize: none;
  padding: 11px 16px;

  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-set__input,
.form-set__textarea {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-set__input {
  height: 40px;
  padding-left: 42px;
}

.form-set__input:focus,
.form-set__textarea:focus {
  border: 1px solid var(--blue);
}

.form-set__input:focus + .form-set__icon {
  fill: var(--blue);
}


.form-set__icon {
  width: 18px;
  position: absolute;
  z-index: 2;
  left: 12px;
  top: -65%;
  fill: var(--title-text-color);
}

.license {
  position: relative;
  margin-top: 20px;
}

.license__box {
  display: flex;
  justify-content: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1600px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.license__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  
}

.license__icon {
  position: absolute;
  left: 1px;
  top: 0px;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 10%;

  @media screen and (min-width: 1600px) {
    left: 5px;
    top: 3px;
  }

  .license__checkbox:checked~& {
    background-image: url(../images/icons.svg/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: transparent;
  }
}


.license__link {
  text-decoration: underline;
  color: var(--blue);
}

.form__button-box {
  text-align: center;
}

.form__button {
  margin-top: 30px;
  padding: 10px 52px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
