.portfolio-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /*margin-top: 34px;
    margin-bottom: 94px;
    
    align-items: center;
    margin-bottom: 0;*/

    .portfolio-cards__item {
        &:hover,
        &:focus-within {
            box-shadow: 6px 1px 4px rgba(0, 0, 0, 0.16), 4px 0px 4px rgba(0, 0, 0, 0.06), 1px 0px 1px rgba(0, 0, 0, 0.12);
        }

    }
}



.card {
    position: relative;
    display: flex;
    align-content: flex-end;
    /*ховаємо модальне вікно, яке без ховеру знаходиться під фото*/
    overflow: hidden;

    &__modal-box {
        position: absolute;
        top: 0;
        right: 0;
        padding: 77px 24px;
        background: rgba(33, 150, 243, 0.9);
        width: 100%;
        height: 100%;

        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        overflow: auto;

        .portfolio-cards__item:hover &,
        .portfolio-cards__item:focus-within & {
            transform: translateY(0)
        }

    }

    &__modal-text {
        font-size: 18px;
        Line-height: 1.56;
        letter-spacing: 0.03em;
        margin: 0;
        color: var(--white);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__content {
        padding: 20px 24px;
        border-right: 1px solid rgba(238, 238, 238, 1);
        border-left: 1px solid rgba(238, 238, 238, 1);
        border-bottom: 1px solid rgba(238, 238, 238, 1);
    }

    &__name {
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        /*margin-top: 0;
        margin-bottom: 0;*/
    }

    &__description {
        color: var(--pargraf-text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        margin-top: 4px;
        /*margin-bottom: 0;*/
    }
}


/*-------------------------------------------TABLET-----------------------------------------*/

@media screen and (min-width: 768px) {
  
    .portfolio-cards {
        flex-direction: row;
        flex-wrap: wrap;
        
        &__item {
        width: 354px;

            &:first-child {
                .card__content {
                    padding-bottom: 56px;
                }
                    
            }
    
        }
       
    }

    .card {

        &__modal-box {
            padding: 49px 24px;
        }

    }


}




/*-------------------------------------------DESKTOP-----------------------------------------*/

@media screen and (min-width: 1200px) {

    .portfolio-cards {
        outline: solid none;

    }
}