.portfolio-buttons {
    margin-left: auto;
    margin-right: auto;
    /*width: 575px;
    outline: 2px solid none;
    margin-top: 94px;*/

   /* &__list {
        display: flex;
        flex-direction: column(row);
        padding-left: 0;
        margin-left: -8px;
    }
    */
    &__item {
       /* flex-basis: content;
        width: 38px;
        margin-left: 8px;*/
        background-color: rgba(245, 244, 250, 1);

        &:hover,
        &:focus {
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
        }
    }
}



