:hover,
:focus,
:focus-within {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

:focus {
    outline: none;
}

body {
    background-color: var(--white);
    font-family: roboto, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.2;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

body a {
    text-decoration: none;
    color: currentColor;
}

/* убираем маркеры в списках */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* цвет кнопки гпавной при ховере 188CE8 */
button:hover {
    color: var(--white);
    background-color: var(--blue);

}

button:focus {
    color: var(--white);
    background-color: var(--blue);
    outline: 3px solid black;
}

img {
  display: block;
  /*прибирає відступ знизу під фото*/

  max-width: 100%; 
  height: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px;


    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1600px) {
        width: 1600px;
    }
    
}

